<footer class="site-footer h-card">
  <nav class="wrapper footer-center" aria-label="Footer links">
    <div class="contact-list">
      <a href="mailto:{{ site.email }}" class="footer-underline">Email</a>
      <a href="https://www.linkedin.com/in/jaronchai/" rel="me" class="footer-underline">LinkedIn</a>
      <span class="footer-separator" aria-hidden="true">•</span>
      <a href="{{ '/now/' | relative_url }}" class="footer-underline">Now</a>
      <span class="footer-separator" aria-hidden="true">•</span>
      <a href="{{ '/sitemap/' | relative_url }}" class="footer-underline">Sitemap</a>
    </div>
  </nav>
  <div class="wrapper footer-center copyright">
    © 2020 - 2026 Jaronchai Dilokkalayakul
  </div>
</footer>
